.pushup{
    display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: rgb(176, 197, 101);

        &__benifits{
            display: flex;
            
                flex-direction: column;
                background-color: rgb(205, 243, 69);
                border-radius: 15px;
                margin: 10px;
                width: 95%;
            
                height: 280px;
                padding-left: 15px;
                padding-top: 15px;
                overflow: hidden;
                transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            
                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                }

        }
        &__benifits__title{
            font-style: italic;
                font-weight: bold;
                font-size: larger;
                padding-left: 10px;
                padding-bottom: 5px;
        }
        &__benifits__list{
            font-style: italic;
                padding-left: 40px;
                padding-top: 8px;
                font-size: large;
        }
        &__targeted-muscles{
            display: flex;
            
                flex-direction: column;
                background-color: rgb(205, 243, 69);
                border-radius: 15px;
                margin: 10px;
                width: 95%;
            
                height: 200px;
                padding-left: 15px;
                padding-top: 15px;
                overflow: hidden;
                transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            
                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                }

        }
        &__targeted-muscles__title{
            font-style: italic;
                font-weight: bold;
                font-size: larger;
                padding-left: 10px;
                padding-bottom: 5px;
        }
        &__targeted-muscles__list{
            font-style: italic;
                padding-left: 40px;
                padding-top: 8px;
                font-size: large;

        }
        &__variations{
            display: flex;
            
                flex-direction: column;
                background-color: rgb(205, 243, 69);
                border-radius: 15px;
                margin: 10px;
                width: 95%;
            
                height: 450px;
                padding-left: 15px;
                padding-top: 15px;
                overflow: hidden;
                transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            
                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                }

        }
        &__variations__title{
            font-style: italic;
                font-weight: bold;
                font-size: larger;
                padding-left: 10px;
                padding-bottom: 5px;
        }
        &__variations__list{
            font-style: italic;
                padding-left: 40px;
                padding-top: 8px;
                font-size: large;
        }

                 &__navbar {
                    top: 0;
                     position: sticky;
                     display: flex;
                     flex-direction: column;
                     background-color: rgb(205, 243, 69);
                     ;
                     height: 70px;
                     border-radius: 15px;
                     width: 98%;
                     margin: 10px;
                 }
        
                 &__navbar__header {
                     text-align: center;
                     font-weight: bold;
                     font-size: large;
                     font-style: italic;
                     padding-top: 5px;
                 }
        
                 &__navbar__btn {
                     background-color: rgb(215, 245, 107);
                     ;
                     border-radius: 10px;
                     border: none;
                     width: 70px;
                     height: 40px;
                     text-align: center;
                     cursor: pointer;
                     transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        
                     &:hover {
        
                         box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                     }
                 }
}